.header-container{
    background-color: antiquewhite;
    color: #006400;
    margin-bottom: 10px;
}
.align-icon{
    margin-left: 30px; 
    display: flex; 
    align-items: center;
    padding-left: 80px;
    
}
.align-icon h1{
    margin-left: 10px;
   
}