.exercise-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    max-width: 1200px;
}

.cart-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

}

.calculation-container {
    color: cadetblue;
}

@media only screen and (max-width: 600px) {
    .exercise-container {
        display: flex;
        flex-direction: column;
    }

    .cart-container {
        grid-template-columns: repeat(1, 1fr);
        color: red;
    }
}

@media only screen and (min-width: 768px) {
    .exercise-container {
        display: flex;
        flex-direction: column;
    }
    .cart-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (min-width: 1200px) {
    .exercise-container {
        display: flex;
        flex-direction: row;
    }
    .cart-container {
        grid-template-columns: repeat(3, 1fr);
        color: red;
    }
}